PORT=3000

SUPABASE_URL=https://nlicjaulpudklgxfvqtr.supabase.co

SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5saWNqYXVscHVka2xneGZ2cXRyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1MzU2ODIsImV4cCI6MjA5NzExMTY4Mn0.t6em13eq74c0xrLci6Lgj30dZ_JSN7Ad8oNTpJQs_Vw

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5saWNqYXVscHVka2xneGZ2cXRyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTUzNTY4MiwiZXhwIjoyMDk3MTExNjgyfQ.XDx1zXrR9NOzQ4pQd-VbMWrbF4wdl2Lzu-e9uvvriT4